RVL_ALIAS "sysclk" "sysclk"; 
RVL_ALIAS "sysclk" "sysclk"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "chip_sleep" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=SMALL ;
IOBUF PORT "SPI_MOSI" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SPI_CSN" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SPI_SCLK" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SPI_MISO" IO_TYPE=LVCMOS33 PULLMODE=UP ;
FREQUENCY NET "sysclk" 7.000000 MHz ;
IOBUF PORT "PMinputs_0" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "PMinputs_1" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "PMinputs_2" IO_TYPE=LVCMOS33 PULLMODE=UP DIFFRESISTOR=OFF ;
IOBUF PORT "PMinputs_3" IO_TYPE=LVCMOS33 PULLMODE=UP DIFFDRIVE="NA" DIFFRESISTOR=OFF ;
LOCATE COMP "SPI_CSN" SITE "114" ;
LOCATE COMP "SPI_MISO" SITE "110" ;
LOCATE COMP "SPI_MOSI" SITE "109" ;
LOCATE COMP "SPI_SCLK" SITE "112" ;
LOCATE COMP "chip_sleep" SITE "27" ;
BLOCK JTAGPATHS ;
LOCATE COMP "LEDs_8" SITE "107" ;
LOCATE COMP "LEDs_7" SITE "106" ;
LOCATE COMP "LEDs_6" SITE "105" ;
LOCATE COMP "LEDs_5" SITE "104" ;
LOCATE COMP "LEDs_4" SITE "100" ;
LOCATE COMP "LEDs_3" SITE "99" ;
LOCATE COMP "LEDs_2" SITE "98" ;
LOCATE COMP "LEDs_1" SITE "97" ;
LOCATE COMP "PMinputs_3" SITE "142" ;
LOCATE COMP "PMinputs_2" SITE "143" ;
LOCATE COMP "PMinputs_1" SITE "140" ;
LOCATE COMP "PMinputs_0" SITE "141" ;
LOCATE COMP "UART_RXD" SITE "38" ;
LOCATE COMP "UART_TXD" SITE "40" ;
IOBUF PORT "UART_RXD" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "UART_TXD" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=12 SLEWRATE=FAST ;
IOBUF PORT "LEDs_8" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "LEDs_7" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "LEDs_6" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "LEDs_5" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "LEDs_4" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "LEDs_3" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "LEDs_1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "LEDs_2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "dbg_pins_5" SITE "71" ;
LOCATE COMP "dbg_pins_4" SITE "70" ;
LOCATE COMP "dbg_pins_3" SITE "69" ;
LOCATE COMP "dbg_pins_2" SITE "68" ;
LOCATE COMP "dbg_pins_1" SITE "67" ;
LOCATE COMP "dbg_pins_0" SITE "65" ;
IOBUF PORT "dbg_pins_5" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "dbg_pins_4" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "dbg_pins_3" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "dbg_pins_2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "dbg_pins_1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "dbg_pins_0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
